<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Evidence Church</title>
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>
    <div class="">
        <div>
            <div class="text-black float-left">
                <!-- image goes here -->
                <img class="h-24 w-full md:block hidden" src="./assets/images/logo.jpeg" alt="logo">
            </div>
            <div>
                <h1 class="text-2xl md:text-4xl text-center">
                    Evidence Glorious House International
                </h1>
                <h2 class="text-lg md:text-2xl text-center">
                    Ministry
                </h2>
            </div>
        </div>
        <!-- nav starts here -->
        <div>
            <div class="bg-black py-1 md:py-2 mt-4 md:mt-6 text-white text-sm md:text-lg">
                <ul class="flex justify-center gap-12 ">
                    <li>Home</li>
                    <li>Sermon</li>
                    <li>Contact</li>
                    <li>About</li>
                </ul>
            </div>
        </div>
        <!-- nav ends here -->

        <!-- main img goes here -->
        <div>
            <img class="w-full h-auto md:h-1/2 object-contain" src="./assets/images/landing1.jpg" alt="">
        </div>
        <!-- main img ends here -->
        <div>
            <!-- main section starts here -->
            <div>

            </div>
            <!-- main section ends here -->

            <!-- sub section starts here -->
            <div>

            </div>
            <!-- sub section ends here -->

            <!-- footer starts here -->
            <div>
                
            </div>
            <!-- footer ends here -->
        </div>
    </div>
</body>
</html>